################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SSMS/.vs/SSMS/FileContentIndex/1066e383-3859-4745-979c-b00f20d1eb60.vsidx
/SSMS/.vs/SSMS/FileContentIndex/read.lock
/SSMS/.vs/SSMS/v17/.suo
/SSMS/SSMS/obj/Debug/SSMS.sqlproj.AssemblyReference.cache
/SSMS/SSMS/SSMS.jfm
/SSMS/SSMS/SSMS.dbmdl
/.vs/nuudw/v17/.wsuo
/.vs/nuudw/FileContentIndex
/.vs
/.gitignore
/.gitignore
/SSMS/.vs/SSMS/FileContentIndex/dc0dddc0-eb89-4b23-8d3f-1eb17618abcf.vsidx
/SSMS/.vs/SSMS/FileContentIndex/63c975fc-5087-458d-aa19-5043484826f5.vsidx
/SSMS/.vs/SSMS/FileContentIndex/63c975fc-5087-458d-aa19-5043484826d5.vsidx
