name: Debug

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  Deploy:
    name: Release to prod
    uses: ./.github/workflows/Template_tasks_prod.yml
    with:
      DeploySSMS: false
      DeployADF: false
      DeploySSAS: false
      DeploySSASModel: "FaultManagement"
      SuspendSSAS: false
    secrets: inherit
