name: Release Platform

on:
  push:
    branches: 
      - 'release'
  workflow_dispatch:        

jobs:
  Deploy:
    name: Release Platform
    uses: ./.github/workflows/master_release_services.yml
    with:
      DeployToDev: false 
      DeployToTest: true
      DeployToProd: false 
      DeployIaC: true 
      DeploySSMS: true
      DeployADF: false
      DeploySSAS: false
      DeploySSASModel: "All"
      DeployMetaData: false 
    secrets: inherit


  
