name: Release to test

on:
  workflow_dispatch:  
  schedule:
  - cron: "0 0 * * 1-5"

jobs:
  Deploy:
    name: Release to test
    uses: ./.github/workflows/master_release_services.yml
    with:
      DeployToDev: false 
      DeployToTest: true
      DeployToProd: false 
      DeployIaC: false 
      DeploySSMS: true
      DeployADF: true
      DeploySSAS: true
      DeploySSASModel: "All"
      SupendSSASTest: true
      DeployMetaData: false 
    secrets: inherit
