name: Release to prod

on:
  workflow_dispatch:        

jobs:
  Deploy:
    name: Release to prod
    uses: ./.github/workflows/master_release_services.yml
    with:
      DeployToDev: false 
      DeployToTest: false
      DeployToProd: true 
      DeployIaC: false 
      DeploySSMS: true
      DeployADF: true
      DeploySSAS: true
      DeploySSASModel: "All"
      DeployMetaData: false 
    secrets: inherit
